#root {
  text-align: center;
}

/* div {
  min-height: 100vh;
} */

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.mi-main {
  min-height: 80%;
  display: flex;
  width: 80%;
  margin: auto;
  background-color: #e1e1e1;
}

.main-section {
  width: 100%;
}

/* CLaseList */

.lista-semana {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 5 columnas para los 5 días de la semana */
  gap: 10px; /* Espacio entre las columnas */
}

/* Clase */

.clase {
  /* max-height: 10px; */
  max-height: 50px; 
  overflow: hidden; 
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

/* Semana */

.week-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 5 columnas para los 5 días de la semana */
  gap: 10px; /* Espacio entre las columnas */
}

.day {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}