#root {
  text-align: center;
}

div {
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.mi-main {
  min-height: 80%;
  display: flex;
  width: 80%;
  margin: auto;
  background-color: #e1e1e1;
}

.main-section {
  width: 100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
